body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(240, 233, 244);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
h2,h3{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.subheading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;

}
a:hover{
    color: #50c2fb !important; 
}